@model spice.Models.ViewModel.subandcatViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>subandcatViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubCategory.Id" />
            <input type="hidden" asp-for="SubCategory.CategoryId" />
                <div class="form-group">
                <label asp-for="SubCategory.CategoryId" class="control-label"></label>
                <select asp-for="SubCategory.CategoryId" disabled
                asp-items="@(new SelectList(Model.CategoriesList,"Id","Name"))" id="selectlistcategories" class="form-control">
                </select>
                <span asp-validation-for="SubCategory.CategoryId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="SubCategory.Name" class="control-label"></label>
                <input asp-for="SubCategory.Name" class="form-control" />
                <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


